main{
    min-width: 100vw;
    height: 100vh;
    display: flex;
}

nav{
    width: 20%;
    height: 100vh;
    background-color: var(--gray-very-light);
    
    font-size:0.8rem;
}

nav li a div{
    width: 100%;
    color:var(--gray);
    font-weight: 500;
    padding: 0.5rem 1.5rem;
}

nav li a div:hover{
   background-color: var(--gray-light);
   transition: 0.5s;
}

.container{
    width:100%;
    padding: 0rem 3rem 2rem 3rem;
}

.header-page{
    width: 100%;
    min-height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--gray-light);
    font-size: 1rem;
}

.header-page button{
    margin-left: 1rem;
}